{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container-fluid h-100 hero-section">
        <div class="row h-100">
            <div class="col-7 col-md-6">
                <h2 class="display-4 logo-font hero-tag-line">
                    Discover Your Beauty
                </h2>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-3 text-uppercase py-3 shadow">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
   
        <div class="container-fluid overflow-hidden">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 text-center mt-5">
                            <h2 class="shop-by-font">Shop by Skin Type</h2>
                            <hr class="w-50 mb-4">
                        
                            <div class="row justify-content-center"> 
                                <div class="container-fluid">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-2 col-md-4 col-6 text-center">
                                            <img class="rounded-circle shadow" src="https://res.cloudinary.com/dbcfqpaik/image/upload/v1736223381/dry-skin-img_gszxph.png" alt="Dry Skin Type image" width="140" height="140">
                                            <p><a class="btn btn-pink mt-2 shadow" href="{% url 'products' %}?skin_type=dry_skin" role="button">Dry &raquo;</a></p>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-6 text-center">
                                            <img class="rounded-circle shadow" src="https://res.cloudinary.com/dbcfqpaik/image/upload/v1736223388/oily-skin-img_hfyfap.png" alt="Oily Skin Type image" width="140" height="140">
                                            <p><a class="btn btn-pink mt-2 shadow" href="{% url 'products' %}?skin_type=oily_skin" role="button">Oily &raquo;</a></p>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-6 text-center">
                                            <img class="rounded-circle shadow" src="https://res.cloudinary.com/dbcfqpaik/image/upload/v1736223384/combination-skin-img_anrbkf.png" alt="Combination Skin Type image" width="140" height="140">
                                            <p><a class="btn btn-pink mt-2 shadow" href="{% url 'products' %}?skin_type=combination_skin" role="button">Combo &raquo;</a></p>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-6 text-center">
                                            <img class="rounded-circle shadow" src="https://res.cloudinary.com/dbcfqpaik/image/upload/v1736223382/normal-skin-img_xcw25m.png" alt="Normal Skin Type image" width="140" height="140">
                                            <p><a class="btn btn-pink mt-2 shadow" href="{% url 'products' %}?skin_type=normal_skin" role="button">Normal &raquo;</a></p>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-6 text-center">
                                            <img class="rounded-circle shadow" src="https://res.cloudinary.com/dbcfqpaik/image/upload/v1736223390/sensitive-skin-img_ya6gnx.png" alt="Sensitive Skin Type image" width="140" height="140">
                                            <p><a class="btn btn-pink mt-2 shadow" href="{% url 'products' %}?skin_type=sensitive_skin" role="button">Sensitive &raquo;</a></p>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-6 text-center">
                                            <img class="rounded-circle shadow" src="https://res.cloudinary.com/dbcfqpaik/image/upload/v1736223385/12429021_4999072_atas2m.jpg" alt="All Skin Types image" width="140" height="140">
                                            <p><a class="btn btn-pink mt-2 shadow" href="{% url 'products' %}?skin_type=all_skin" role="button">All Skin &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
            <!-- Article listing -->
            <div class="col-12">
                <div class="row">
                    <div class="col-12 text-center mt-5">
                        <h2 class="article-font">Read our latest Articles</h2>
                        <hr class="w-50 mb-1">
                    </div>
                    <div class="col-12 col-xl-10 mx-auto"> 
                        {% if latest_posts %}
                            <div class="row mt-4 justify-content-center"> 
                                {% for post in latest_posts %}
                                    <div class="col-12 col-md-6 col-xl-3 mb-4"> 
                                        <div class="card mb-4 shadow h-100" role="article">
                                            <div class="card-body d-flex flex-column">
                                                <div class="image-container">
                                                    {% if post.image %}
                                                        <a href="{% url 'post_detail' post.slug %}">
                                                            <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
                                                        </a>
                                                    {% else %}
                                                        <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                                                    {% endif %}
                                                </div>
                                                <h5 class="card-title mt-3">{{ post.title }}</h5>
                                                <p class="card-text text-muted h6 small">{{ post.created_on }}</p>
                                                <hr>
                                                <p class="excerpt">{{ post.excerpt|truncatewords:14 }}</p>
                                                <a href="{% url 'post_detail' post.slug %}" class="btn btn-sm btn btn-pink mt-auto" role="button" aria-label="View">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>  
                        {% else %}
                            <p class="text-center">No articles found.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}