.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.card {
    border: none;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.masthead-text {
    background-color: #b4f8c8;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
    .masthead {
        display: flex;
        height: 33vh;
    }

    .masthead-text,
    .masthead-image {
        flex: 1;
        height: 100%;
    }

    .masthead-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .masthead-image img {
        height: 100%;
    }
}

/* .post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover {
    color: #000;
    font-weight: bolder;
} */