html {
    height: 100%;
}

.logo-image {
    display: block;
    width: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    background: no-repeat center center fixed;
    background-size: cover;
    /* height: calc(100vh - 164px); */
    font-family: 'Poppins';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #FFAEBC;
    color: black;
    min-width: 260px;
}

.btn-pink {
    background: #FFAEBC;
    color: black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-pink:hover,
.btn-pink:active,
.btn-pink:focus {
    background: #cb7f8c;
    color: white;
    font-family: 'Poppins';
}

.text-black {
    color: #000 !important;
}

.border-pink {
    border: 1px solid #FFAEBC !important;
}

.hero-tag-line {
    font-family: 'Chango';
    color: #FFAEBC !important;
    text-shadow: 2px 2px 0 #cb7f8c, -2px 2px 0 #A0E7E5, -2px -2px 0 #cb7f8c, 2px -2px 0 #cb7f8c;

}

.product-image-container {
    height: 400px; /* Adjust this value as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.product-image {
    /* max-width: 100%; */
    max-height: 350px;
    object-fit: contain;
}

.bg-tiffany {
    background: #A0E7E5 !important;
    font-family: 'Chango';
    text-transform: uppercase;
}

.bg-pink {
    background: #FFAEBC !important;
    font-family: 'Chango';
}

.bg-mint {
    background: #B4F8C8 !important;
    font-family: 'Chango';
}

.bg-yellow {
    background: #FBE7C6 !important;
    font-family: 'Chango';
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }

  .logo-image {
    width: 300px;
  }
}

/* fixed top navbar on medium screen sizes and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 200px;
    }

}

/* Add padding to top of page when navbar is collapsed on mobile */
/* @media (max-width: 991px) {
    .header-container {
        padding-top: 210px;
    }

    body {
        height: calc(100vh - 210px);
    }
} */

@media (max-width: 320px) {
    .header-container {
        padding-top: 340px;
    }

  
}


@media (min-width: 375px) {
    .header-container {
        padding-top: 250px;
    }
}


@media (min-width: 425px) {
    .header-container {
        padding-top: 245px;
    }
}