<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav justify-content-center w-100">

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="skin-type-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop by Skin Type
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="skin-type-link">
                <a href="" class="dropdown-item">Dry skin</a>
                <a href="" class="dropdown-item">Oily skin</a>
                <a href="" class="dropdown-item">Combination skin</a>
                <a href="" class="dropdown-item">Sensitive skin</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="product-type-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop by Product Type
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="product-type-link">
                <a href="" class="dropdown-item">Cleanser</a>
                <a href="" class="dropdown-item">Toner</a>
                <a href="" class="dropdown-item">Moisturiser</a>
                <a href="" class="dropdown-item">Serums</a>
                <a href="" class="dropdown-item">Masks</a>
                <a href="" class="dropdown-item">Scrubs</a>
                <a href="" class="dropdown-item">Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop All Products
            </a>
        </li>
    </ul>
</div>