{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 text-center mt-3">
                    <h2 class="logo-font">Articles</h2>
                    <hr class="w-50 mb-1">
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9 mx-auto"> 
            {% if object_list %}
                <div class="row mt-4 justify-content-center"> 
                    {% for post in post_list %}
                        <div class="col-md-4 mb-4"> 
                            <div class="card">
                                <div class="card-body">
                                    <div class="image-container">
                                        <div class="image-flash">
                                        </div>
                                    </div>
                                    <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                        <h3 class="card-title">{{ post.title }}</h3>
                                    </a>

                                    <hr />
                                    <p class="card-text text-muted h6 small">{{ post.created_on }}</p>
                                </div>
                            </div>
                        </div>

                        {% if forloop.counter|divisibleby:3 and not forloop.last %}
                            </div><div class="row mt-4 justify-content-center"> 
                        {% endif %}
                    {% endfor %}
                </div>  
            {% else %}
                <p class="text-center">No related articles found.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}